{% extends 'libapp/base.html' %}
{% block title %}
    Home
{% endblock %}
{% block body_block %}
    <div class="container-fluid">
        <div class="row">
            <h2>List of items</h2>
        </div>

        {% if msg != '' %}
        <div class="alert alert-danger alert-dismissable">
            {{ msg }}
        </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary col-sm-5 ">
                    <div class="panel-heading">
                        Books
                    </div>
                    <div class="panel-body">
                        {% if booklist %}
                        <ol>
                            {% for item in booklist %}
                                {% if item.itemtype == "Book" %}
                                    <li> <a href="{% url 'libapp:detail' item.id %}">{{ item.title}} </a></li>
                                {% endif %}
                            {% endfor %}
                        </ol>

                        {% else %}
                            <strong>There are no available items!</strong>
                        {% endif %}
                    </div>
                </div>

                <div class="panel panel-primary col-sm-5 col-sm-offset-2">
                    <div class="panel-heading">
                        DVDs
                    </div>
                    <div class="panel-body">
                        {% if dvdlist %}
                        <ol>
                            {% for item in dvdlist %}
                                {% if item.itemtype == "DVD" %}
                                <li> <a href="{% url 'libapp:detail' item.id %}">{{ item.title}} </a></li>
                                {% endif %}
                            {% endfor %}
                        </ol>

                        {% else %}
                            <strong>There are no available items!</strong>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
